layout  {
  pane_template name="lazysar" {
      command "lazysar"
      close_on_exit true
  }

  pane split_direction="horizontal" {
    pane split_direction="vertical" {
      lazysar {
        args "client" "cpu"
        name "CPU Usage"
      }
      lazysar {
        args "client" "disk_bytes"
        name "Disk I/O"
      }
    }
    pane split_direction="vertical" {
      lazysar {
        args "client" "memory"
        name "Memory Usage"
      }
      lazysar {
        args "client" "network_bytes"
        name "Network I/O"
      }
    }
    lazysar {
        args "cmd"
        name "controller"
        size 5
        focus true
        close_on_exit false
    }
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
