layout  {
  pane_template name="lazysar" {
    command "lazysar"
    close_on_exit true
  }

  tab focus=true split_direction="horizontal" name="basic" {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    pane split_direction="vertical" {
      lazysar {
        args "client" "--preset" "cpu"
        name "CPU Usage"
      }
      lazysar {
        args "client" "--preset" "disk_bytes"
        name "Disk I/O"
      }
    }
    pane split_direction="vertical" {
      lazysar {
        args "client" "--preset" "memory"
        name "Memory Usage"
      }
      lazysar {
        args "client" "--preset" "network_bytes"
        name "Network I/O"
      }
    }
    lazysar {
      args "cmd"
      name "controller"
      size 5
      focus true
    }
    pane size=1 borderless=true {
      plugin location="status-bar"
    } 
  }
}
