layout  {
  pane_template name="lazysar" {
    command "lazysar"
    close_on_exit true
  }

  tab focus=true split_direction="horizontal" name="cpu4" {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    lazysar {
      args "client" "--preset" "cpu100"
      name "CPU Usage"
    }
    lazysar {
      args "client" "--preset" "cpu100" "-P" "0"
      name "CPU 0 Usage"
    }
    lazysar {
      args "client" "--preset" "cpu100" "-P" "1"
      name "CPU 1 Usage"
    }
    lazysar {
      args "client" "--preset" "cpu100" "-P" "2"
      name "CPU 2 Usage"
    }
    lazysar {
      args "client" "--preset" "cpu100" "-P" "3"
      name "CPU 3 Usage"
    }
    lazysar {
        args "cmd"
        name "controller"
        size 5
        focus true
    }
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
  }
}
